<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/Styles.css">
</head>
<body>

<table>
<tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantity</th>
</tr>
    <tr th:each="item : ${items}"></tr>
    <td th:text="${item.getName()}"></td>
    <td th:text="${item.getDescription()}"></td>
    <td th:text="${item.getPrice()}"></td>
    <td th:text="${item.getQuantityOfStock()}"></td>
    </tr>
    <tr>
        <td th:text="${average}"></td>
        <td th:text="${expensive}"></td>
    </tr>
</table>
</body>
</html>